{% extends 'base.html' %}

{% block title %}ベクトル{% endblock %}



{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a title="Breadcrumb Example" href="{% url 'index' %}"><i class="fa fa-home"> ホーム</i></a></li>
            <li class="breadcrumb-item active"><a title="Breadcrumb Example" href="{% url 'vector' %}"><i class="fa fa-home"> ベクトル</i></a></li>
        </ol>
    </nav>
    <h1>ベクトル</h1>
    <p>開発中</p>

{% endblock content %}